/*
 * Hanchen (Zero) Liu
 * 10/06/2017
 * Styles.css
 * This is the stylesheet for the calculator ui
 */

/*
    set up the universal style
 */
.root{
    /* use -fx- as prefix for javafx styling*/
    -fx-background-color: #4d4d4d;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-font-size: 20px;
    -fx-alignment: center;
    -fx-vgap: 10px;
    -fx-hgap: 10px;
    -fx-padding: 15px;
}

/*
    set up styles for the display box
 */
.label{
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-min-width: 360px;
    -fx-padding: 15px;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
    -fx-background-color: #b3ffe0;
    -fx-alignment: center-right;
}

/*
    set up styles for buttons
 */
.button{
    -fx-background-radius: 6px;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-min-width: 60px;
    -fx-min-height: 60px;
}

/*
    set up styles for special buttons
 */
.button#specialOperator{
    -fx-min-width: 90px;
}

/*
    removes the blue outline around buttons
 */
.button:focused{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button:hover{
    -fx-background-color: darkseagreen;
    -fx-text-fill: white;
}